<br>
<router-outlet></router-outlet>
<div class="container">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-outline card-success">
            <div class="card-header">
              <h3 class="card-title">Listado de Alumnos<small></small></h3>
              <div class="card-tools">
                <p align="right">
                  <a href="alumno" class="btn btn btn-outline-success">Crear Nuevo Alumno</a>
                </p>
              </div>
            </div><br>

              <div class="card-body">
                <table class="table">
                  <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Grado</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Bryan</td>
                    <td>Moreno</td>
                    <td>Cuarto</td>
                    <td>Bachiller en Compu</td>
                    <td>31793842</td>
                    <td>1234@gmail.com</td>
                    <td><button type="button" style="margin: 2px" class="btn btn-outline-success">Editar</button><button type="button" style="margin: 2px" class="btn btn-outline-danger">Eliminar</button></td>
                  <tr>
                    <th scope="row">2</th>
                    <td>Miguel</td>
                    <td>Santaolalla</td>
                    <td>Sexto</td>
                    <td>Admon. de Empresas</td>
                    <td>33246787</td>
                    <td>admon@outlook.com</td>
                    <td><button type="button" style="margin: 2px" class="btn btn-outline-success">Editar</button><button type="button" style="margin: 2px" class="btn btn-outline-danger">Eliminar</button></td>
                  <tr>
                    <th scope="row">3</th>
                    <td>Antonio</td>
                    <td>Figueroa</td>
                    <td>Quinto</td>
                    <td>Bachiller de Ciencias y Letras</td>
                    <td>45678314</td>
                    <td>figantio@hotmail.com</td>
                    <td><button type="button" style="margin: 2px" class="btn btn-outline-success">Editar</button><button type="button" style="margin: 2px" class="btn btn-outline-danger">Eliminar</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
